{% extends 'flatpages/default.html' %}

{% block content %}

<p>Информация о заявленных рекламациях Вашей техники и их устранении</p>

<table>
    <tr>
        <td>Дата отказа</td>
        <td>Наработка, м/час</td>
        <td>Узел отказа</td>
        <td>Описание отказа</td>
        <td>Способ восстановления</td>
        <td>Используемые запасные части</td>
        <td>Дата восстановления</td>
        <td>Время простоя техники</td>
        <td>Mашина</td>
        <td>Cервисная компания</td>
    </tr>

    {% for reclamation in reclamations %}
    <tr>
        <td>{{ reclamation.date_of_rejection }}</td>
        <td>{{ reclamation.running_time }}</td>
        <td>{{ reclamation.failure_node }}</td>
        <td>{{ reclamation.failure_description }}</td>
        <td>{{ reclamation.recovery_method }}</td>
        <td>{{ reclamation.used_spare_parts }}</td>
        <td>{{ reclamation.recovery_date }}</td>
        <td>{{ reclamation.machine_downtime }}</td>
        <td>{{ reclamation.car }}</td>
        <td>{{ reclamation.service_company }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock content %}