{% extends 'flatpages/default.html' %}

{% block content %}

<p>Информация о проведенных ТО Вашей техники</p>

<table>
    <tr>
        <td>Вид ТО</td>
        <td>Дата проведения ТО</td>
        <td>Наработка, м/час</td>
        <td>№ заказ-наряда</td>
        <td>Дата заказ-наряда</td>
        <td>Машина</td>
        <td>Сервисная компания</td>
    </tr>

    {% for maintenance in maintenances %}
    <tr>
        <td>{{ maintenance.kind_of_maintenance }}</td>
        <td>{{ maintenance.date_of_maintenance }}</td>
        <td>{{ maintenance.running_time }}</td>
        <td>{{ maintenance.work_order }}</td>
        <td>{{ maintenance.date_work_order }}</td>
        <td>{{ maintenance.car }}</td>
        <td>{{ maintenance.service_company }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock content %}